<!DOCTYPE html>
<html>
  <head>
    <title>Path Examples</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= message %> with <%= user %> and <%= operation %></p>
  </body>
</html>