<!DOCTYPE html>
<!--  This is the partial to include at the head of deliverMessages -->
<html>
  <head>
    <title>Path Examples</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
