<!DOCTYPE html>
<html>
  <head>
    <title>Path Examples</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ingredipe</h1>
    <h1>Go from Ingredients to Recipe in Seconds!</h1>
  </body>
</html>