<!Doctype HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<title>Ingredients to Recipes in Seconds</title>
</head>

<body>
  	
  	<div class="container">
		<h2>Add Recipe</h2>
		<div>
		  <form id="addrecipe" action="javascript:addRecipe()">
		    <div class="row">
		      <label>Name: </label>  <input id="rname" name="RecipeName" type="text"/> 
		    </div>
		    <div class="row">
		      <label>Cuisine: </label>  <input id="rcuisine" name="Cuisine" type="text" />
		    </div>
		    <div class="row right">
		      <input id="submitButton" name="Submit"  type="submit" value="Add Team"/>
		    </div>
		  </form>
		</div> 
		
	</div>

	<script src="jquery-1.9.0.js"></script>
	<script src="crud.js"></script>
</body>
</html>